<h1 class="font-weight-light text-center text-lg-left mt-5 mb-0">Contact</h1>

  <hr class="">
<div class="row ">

    <div class="col-lg-3 col-md-5 col-sm-6 m-auto pb-5">
        <div class="card card-body">
            <h4 class="text-center mb-3"> Help & Feedback</h4>
            <% include ./partials/messages %>
            <form action="" method="" class="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="" placeholder="Enter Email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" name="" placeholder="Enter Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="query">Query</label>
                    <textarea class="form-control" id="query" rows="3" name="query"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>


    <div class="col-lg-9 col-md-9 col-sm-9 m-auto pb-5">
        <h1 class="font-weight-light text-center text-lg-left  mb-0">About</h1>
        <hr class="">
        <div class="card card-body">
           <div class="media border p-3">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" alt="John Doe" class="mr-3 mt-3-circle" style="width:60px;">
                <div class="media-body">
                 <h4>Asif Khan <small><i>Founder</i></small></h4>
                 <p>The one who founded. Passionate actor & model by passion and profession.</p>
                 <p class=""></p>
                 <a href="mailto:email@gmail.com" class="">email@gmail.com</a>
                </div>
            
            <div class="vl"></div>

              <img src="https://cdn1.iconfinder.com/data/icons/website-internet/48/website_-_female_user-512.png" alt="John Doe" class="mr-3 mt-3-circle" style="width:60px;">
                <div class="media-body">
                 <h4>Guest <small><i>CEO</i></small></h4>
                 <p>The one who supported with full of enthousiasme. Singer, Actor and model by passion and profession.</p>
                 <p class=""></p>
                 <a href="mailto:email@gmail.com" class="">email@gmail.com</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 m-auto social">
        <div class="alert alert-info">
           <a href="https://facebook.com/asifkhn143" target="_blank"> <i class="fab fa-facebook">acebook</i></a> 
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 m-auto social">
        <div class="alert alert-warning">
           <a href="https://instagram.com/asifkhn143" target="_blank"> Inst<i class="fab fa-instagram">gram</i></a>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 m-auto social">
        <div class="alert alert-danger">
           <a href="https://youtube.com/asifkhn143" target="_blank"> Y<i class="fab fa-youtube">utube</i></a>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 m-auto social">
        <div class="alert alert-info">
           <a href="mailto:name@gmail.com" target="_blank"> <i class="fab fa-google">mail</i></a>
        </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 m-auto social">
        <div class="alert alert-success">
           <a href="https://whatsapp.com/897645678" target="_blank"> Wh<i class="fab fa-whatsapp">tsapp</i></a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 m-auto social">
        <div class="alert alert-primary">
           <a href="https://linkedin.com/in/asifkhn143" target="_blank"> Linked<i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>


<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left mb-5">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
          </a>
    </div>
  </div>
<style>
  .social{
    font-size: 15px;
  }
</style>