<div class="row mt-5">
    <div class="col-lg-3 mb-5" style="width: 50%;">
        <div class="card">
        <a href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" class="card-img-top" width="150" height=120">
        </a>
        <!-- <div class="card-body">
            <h5 class="">test audio file<span class="fa fa-ellipsis-v float-right"></span></h5>
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" height="20" width="20" class="rounded-circle">
                <span class="text-muted mt-2"> Asif Khan</span></a>
                <i class="float-left"> Nov 01 2020</i> 
                <i class="fa fa-play float-right"></i>
         </div> -->
         <audio controls style="width: 80%;">
            <source src="https://www.jiosaavn.com/album/taaron-ke-shehar/Vfp51onqKJY_" type="audio/ogg">
            <source src="https://www.jiosaavn.com/album/taaron-ke-shehar/Vfp51onqKJY_" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
     </div>
     <div class="col-lg-3 mb-5" style="width: 50%;">
        <div class="card">
        <a href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" class="card-img-top" width="150" height=120">
        </a>
         <audio controls style="width: 80%;">
            <source src="https://www.jiosaavn.com/album/naach-meri-rani/9bQQKTfvY60_" type="audio/ogg">
            <source src="https://www.jiosaavn.com/album/naach-meri-rani/9bQQKTfvY60_" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
     </div>
     <div class="col-lg-3 mb-5" style="width: 50%;">
        <div class="card">
        <a href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" class="card-img-top" width="150" height=120">
        </a>
         <audio controls style="width: 80%;" class="justify-content-center"">
            <source href="https://www.jiosaavn.com/featured/2020-chartbusters---hindi/Ao1Hsh1ksfxieSJqt9HmOQ__" type="audio/ogg">
            <source href="https://www.jiosaavn.com/featured/2020-chartbusters---hindi/Ao1Hsh1ksfxieSJqt9HmOQ__" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
     </div>
</div>

