<div class="row mt-5">
    <div class="col-md-3 col-sm-4 col-lg-2 mb-5">
        <div class="card card-body border-primary text-center">
            <div class="media justify-content-center mb-2">
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" alt="Profile pic" class="rounded-circle" width="60" height="60"></a>
            </div>
            <a href=""><b class="">Asif Khan</b></a>
            <p class="text-muted mr-2 mt-1"><i class="fa fa-dot-circle" style="color: #3B5998"> </i> Actor</p>
            <a href="" class="btn btn-primary btn-block">Follow</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-lg-2 mb-5">
        <div class="card card-body border-primary text-center">
            <div class="media justify-content-center mb-2">
                <a href=""><img src="https://cdn1.iconfinder.com/data/icons/website-internet/48/website_-_female_user-512.png" alt="Profile pic" class="rounded-circle" width="60" height="60"></a>
            </div>
            <a href=""><b class="">Saumya</b></a>
            <p class="text-muted mr-2 mt-1"><i class="fa fa-dot-circle" style="color: #3B5998"> </i> Singer</p>
            <a href="" class="btn btn-primary btn-block">Follow</a>
        </div>
    </div>
</div>

