<div class="mt-5">
    <% include ./partials/messages %>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 mb-5" style="width: 50%;">
        <div class="card">
         <!-- <a href="videos">
            <video width="100%" height="150" id="portfolio-vid" class="card-img-top">
              <source src="/wheat-field.mp4" type="video/mp4" />
            </video>
        </a> -->
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/SdO4L0IVsGs" frameborder="0" allow="accelerometer; 150play; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <p class="">BACHALO  | New Punjabi Song 2020 | <span class="fa fa-ellipsis-v float-right"></span></p>
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" height="20" width="20" class="rounded-circle">
                <span class="text-muted mt-2">  </span></a><span> Nov 01 2020</span>
         </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-4 mb-5" style="width: 50%;">
        <div class="card">
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/87ErHaYgdtg" frameborder="0" allow="accelerometer; 150play; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <p class="">Ae Mere dil  | New Song 2020 | <span class="fa fa-ellipsis-v float-right"></span></p>
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" height="20" width="20" class="rounded-circle">
                <span class="text-muted mt-2">  </span></a><span> Nov 01 2020</span>
         </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-4 mb-5" style="width: 50%;">
        <div class="card">

        <iframe width="100%" height="150" src="https://www.youtube.com/embed/M063dgT5fVI" frameborder="0" allow="accelerometer; 150play; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <p class="">Tanhaai Official Video | Zain | <span class="fa fa-ellipsis-v float-right"></span></p>
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" height="20" width="20" class="rounded-circle">
                <span class="text-muted mt-2">  </span></a><span> Nov 01 2020</span>
         </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-4 mb-5" style="width: 50%;">
        <div class="card">
            <iframe width="100%" height="150" src="https://www.youtube.com/embed/a0TkeUhcVrM" frameborder="0" allow="accelerometer; 150play; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <p class="">Burj Khalifa | Akhshay | Kiara | <span class="fa fa-ellipsis-v float-right"></span></p>
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" height="20" width="20" class="rounded-circle">
                <span class="text-muted mt-2">  </span></a><span> Nov 01 2020</span>
         </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-4 mb-5" style="width: 50%;">
        <div class="card">
            <iframe width="100%" height="150" src="https://www.youtube.com/embed/TCx1yMegJ4A" frameborder="0" allow="accelerometer; 150play; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <p class="">Nach meri rani | Guru Randhawa Feat. Nora Fatehi | <span class="fa fa-ellipsis-v float-right"></span></p>
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" height="20" width="20" class="rounded-circle">
                <span class="text-muted mt-2">  </span></a><span> Nov 01 2020</span>
         </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-4 mb-5" style="width: 50%;">
        <div class="card">
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/qQGKOBeK_t0" frameborder="0" allow="accelerometer; 150play; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <p class="">Allah khair kare | Saajz Ft Himanshi Khurana | <span class="fa fa-ellipsis-v float-right"></span></p>
                <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" height="20" width="20" class="rounded-circle">
                <span class="text-muted mt-2">  </span></a><span> Nov 01 2020</span>
         </div>
        </div>
     </div>
</div>
</div>

